@using GJAccidentWeb.Entity
@using GJAccidentWeb.Infrastructure
@{
    ViewBag.Title = "二级目录";
}

@model Pager<List<Menu>>
<script type="text/javascript">
    $(function () {
        $('#myDataTable').datagrid({
            sortable: false,
            checkable:true,
            selectable:false,
            height:410
        });
        $('#dataPager').pager({
            page: @Model.page,
            recTotal: @Model.recTotal,
            recPerPage:@Model.recPerPage,
            onPageChange: function(state, oldState) {
                if (typeof(oldState.page)!="undefined" && state.page !== oldState.page) {
                    var href = $('#searchForm').attr("action");
                    href = href + "?page=" + state.page;
                    $('#searchForm').attr("action", href);
                    $('#searchForm').submit();
                }
            }
        });
    })

    function deleteModel(id){
        $('#id').val(id)
        $('#dataForm').submit()
    }
</script>
<form id="dataForm" action="/Menu_Second/Delete" method="post" hidden="hidden">
    <input id="id" name="id" />
</form>
<form action="/Menu_Second/Index" id="searchForm" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-1">
            @Html.ActionLink("增加", "Add", null, new { @class = "btn btn-warning btn-block" })
        </div>
    </div>
</form>
<table class="table" id="myDataTable">
    <thead>
        <tr>
            <th>顺序</th>
            <th>上级菜单</th>
            <th>title</th>
            <th>url</th>
            <th>open</th>
            <th>htmlstr</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>最后修改人</th>
            <th>最后修改时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.data.Count > 0)
        {
            for (int i = 0; i < Model.data.Count; i++)
            {
                <tr>
                    <td>@Model.data[i].orderId</td>
                    <td>
                        @Html.parentMenuInfo(MenuLevel.First_Level)[Model.data[i].parentMenuId]
                    </td>
                    <td>@Model.data[i].title</td>
                    <td>@Model.data[i].url</td>
                    <td>@Model.data[i].open</td>
                    <td>@Model.data[i].htmlStr</td>
                    <td>@Model.data[i].createdBy</td>
                    <td>@Model.data[i].createdDate</td>
                    <td>@Model.data[i].lastUpdatedBy</td>
                    <td>@Model.data[i].lastUpdatedDate</td>
                    <td>
                        @Html.ActionLink("修改", "Update", new { id = Model.data[i].id }, new { @class = "btn btn-warning" })
                        <button class="btn btn-danger" type="button" onclick="deleteModel(@Model.data[i].id)">删除</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <ul id="dataPager" class="pager"></ul>
</div>
