@using GJAccidentWeb.Infrastructure
@using GJAccidentWeb.Models.QueryModels
@model RoleRightQueryModel
@{
    ViewBag.Title = "增加角色数据权限权限";
}
<script type="text/javascript">
    function changeLine() {
        var companyId = $('#companyId').val();
        setLineControl(companyId);
    }
    function setLineControl(companyId) {
        $.post('/CommonTool/getLineInfoNotInList', { companyId: companyId, roleId: '@Model.roleId' }, function (data) {
            var line = JSON.parse(data)
            $('#rightId').empty();
            $.each(line, function () {
                $('<option value="' + this.lineId + '">' + this.lineName + '</option>').appendTo("#rightId")
            })
            $("#rightId").trigger("chosen:updated");
        })
    }
</script>
<span style="color:red">
    @Html.ValidationSummary(false)
</span>
<div class="panel panel-primary">
    <div class="panel-heading" style="text-align:center">
        @Html.roleInfo()[Model.roleId]
    </div>
    <div class="panel-body">
        <form action="/RoleRight/Add" method="post" id="dataForm" class="form-horizontal">
            <input hidden="hidden" name="roleId" value="@Model.roleId" />
            <div class="form-group">
                <label for="companyId" class="col-md-1"> 分公司:</label>
                <div class="col-md-3">
                    <select id="companyId" name="companyId" class="chosen-select form-control" onchange="changeLine()">
                        @foreach (var item in Html.companyInfo_All())
                        {
                            if (item.Value == Model.companyId)
                            {
                                <option value="@item.Value" selected="selected">@item.Key</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        }
                    </select>
                </div>
                <label for="rightId" class="col-md-1 required">线路名称</label>
                <div class="col-md-3">
                    <select class="chosen-search form-control" name="rightId" id="rightId">
                        @foreach (var item in Html.getLineNotInList(Model.roleId,Model.companyId))
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-block" type="submit">提交</button>
                </div>
                @Html.ActionLink("返回", "Search", new { roleId = Model.roleId }, new { @class = "btn btn-primary" })
            </div>

        </form>
    </div>
</div>

